<template name="Queries">
  <div class="queries">
      <ul class="queries-list">
          {{#if currentUser}}
              {{#each queries}}
                  <table class="query">
                      <tr>
                          <td>
                              <button>
                                  <i class="ion-trash-a remove">
                                  </i>
                              </button>
                          </td>
                          <td>
                              {{query}}
                          </td>
                          <!--<td>
                              {{lat}}
                          </td>
                          <td>
                              {{lng}}
                          </td>-->
                          <td>
                              {{radius}}
                          </td>
                          <td>
                              {{time}}
                          </td>
                      </tr>
                  </table>
              {{else}}
                  <div class="query empty">
                      No queries yet
                  </div>
              {{/each}}
          {{else}}
              <div class="query empty">
                  No queries because you are not signed in...
              </div>
          {{/if}}
      </ul>
  </div>
</template>
